body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #0D192C;
}

.container {
    background-color: #15263F;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#img {
    border-radius: 8px;
    width: 100%;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding-top: 24px;
    
}

h2 {
    display: inline;
    color: #00FFF8;
    
}

p {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color:  #8BACD9;
    display: inline;
    gap: 16px;
    
}

span { 
    color: white;
}

.border {
    background-color: #2E405A;;
    height: 1px;
    width: 100%;
    border:1px solid #8BACD9;
}

.logo {
    display: flex;
    justify-content: space-between;
    
}


.lastp  {
    line-height: 36px;
    font-size: 16px;
    margin-left: 16px;

}

footer {
    display: flex;
    margin-block-end: 25px;
    
}